<script>
	var globals ={}
	globals.commonUrl = '{site_url}system/expressionengine/custom/';
	globals.baseUrl = '';	
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2687424-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--Javascript Libraries-->

<!--jQuery-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!--jQuery UI-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

<!--SWFObject-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<!--Chrome Frame-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

<script>
   CFInstall.check({
     mode: "overlay",
     destination: document.location.href
   });
</script>

<!--Modernizr-->
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/modernizr-1.1.min.js"></script>

<!--simpleStorage-->
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/storage.min.js"></script>

<!--other scripts-->
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/jquery.easing.js"></script>
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/twitter-reactions.js"></script>

<!--Main JS-->
<script type="text/javascript" src="{site_url}system/expressionengine/custom/js/main.js"></script>
</body>
</html>