<div id='footer'>
<div class='pinkLine mt35 mb35'></div>
	<span id='followAlong'>Follow along:</span><a href='http://www.twitter.com/twonightstand'> <span class='arial'>@</span>twonightstand</a>
	
	<p class='mt10 mb10'>
		A collaborative experiment with beautiful results.
	</p>
	
	<span>Copyright &#169; 2010 <a href='http://www.brightbrightgreat.com' class='yellow'>Bright Bright Great</a> & <a href='http://www.bryanthughes.com' class='yellow'>Bryant Hughes</a></span>
	
	<br /><br /><a class='yellow' href='{path="thankyou"}'>Thank You!</a>
	
	<a href='http://www.brightbrightgreat.com'>
		<img src='{site_url}system/expressionengine/custom/images/layout/logo_circle.png' alt='BrightBrightGreatLogo'>
	</a>
</div>