{embed=site/code_header}
{embed=site/header}

<div id='mainCntr' class='clearfix'>
		
	<div id='' class='panel clearfix selected'>	

		<div id='signUp' class='clearfix'>
			
			<div id='thankYouLeft'>
				
				<p id='thankYouCopy' class='mt20'>
					Without the help of certain individuals and organizations, this event would not be possible. We
					hereby would like to thank
				</p>
				
				<ul>
					<li>Old Style</li>
					<li><a href='http://www.rhodiapads.com/'>Rhodia</a></li>
					<li><a href='http://www.exaclairinc.com/'>Exaclair</a></li>
					<li><a href='http://onedesigncompany.com/'>One Design Company</a></li>
					<li><a href='http://www.sammyrosen.com/'>Sam Rosen</a></li>
					<li><a href='http://amgarcia.com/'>Antonio Garcia</a></li>
				</ul>
								
			</div><!-- x #thankYouLeft -->
			
			<img src='{site_url}{custom_path}images/layout/thank_you.png' class='left' />
		
		</div><!-- x #signUp -->

	</div><!-- x#panel1 -->
		
</div><!-- x#mainCntr -->


{embed=site/footer}
{embed=site/code_footer}